<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <p class="text-faded">I am a senior technical animator with strong expertise in rigging, animation implementation, and game pipelines. With a keen eye for detail and excellent organizational skills, I create rigs that meet high animation standards, ensuring best workflow practices and efficient Unreal integration.</p>
            </div>
        </div>
    </div>
</section>
