<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Lucas Esposito</h1>
            <hr>
            <p>I am a senior technical animator with strong expertise in rigging, animation implementation, and game pipelines. With a keen eye for detail and excellent organizational skills, I create rigs that meet high animation standards, ensuring best workflow practices and efficient Unreal integration.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
