<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/cdpr.png" alt="CD Projekt Red" class="wow bounceIn" data-wow-delay=".1s" style="width:86px; height:86px">
                    <h3>CD Projekt Red</h3>
                    <p class="text-muted">Aug 2019 - Dec 2021</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/rs.png" alt="Rocksteady" class="wow bounceIn" data-wow-delay=".1s" style="width:86px; height:86px">
                    <h3>Rocksteady</h3>
                    <p class="text-muted">Jan 2022 - May 2023</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/rebellion.png" alt="Rebellion" class="wow bounceIn" data-wow-delay=".1s" style="width:86px; height:86px">
                    <h3>Rebellion</h3>
                    <p class="text-muted">Jul 2023 - Dec 2024</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/logos/pcf.png" alt="People Can Fly" class="wow bounceIn" data-wow-delay=".1s" style="width:86px; height:86px">
                    <h3>People Can Fly</h3>
                    <p class="text-muted">Jan 2025 - Present</p>
                </div>
            </div>
        </div>
    </div>
</section>
